/*
GOOGLE Fonts reference(remove what isn't used)
font-family: 'Shrikhand', cursive;  HEADER
font-family: 'Cabin', sans-serif;  body
font-family: 'Timmana', sans-serif;  body
font-family: 'Bungee Shade', cursive; HEADER
*/


h1 {
  font-family: 'Bungee Shade', cursive;
  letter-spacing: 2px;
  word-spacing: 7px;
  text-align: center;
  font-size: 200%;
  line-height: 120%;
}
/* available seats styling 'key'!*/
ul {
  list-style-type: none;
  padding: 0px;

}

li{
  display: inline-block;
  font-family: 'Timmana', sans-serif;
  font-size: 150%;
  padding: 12px 20px;
}


/*glyphicon available Dot styling*/
.glyphicon.glyphicon-one-fine-dot {
    margin-bottom: -.25em;
    overflow: hidden;
}
.glyphicon.glyphicon-one-fine-dot:before {
    content:"\25cf";
    font-size: 2em;

}

.green {
  color: green;
}

.red {
  color: red;
}

.blue {
  color: #1981e0;
}

p{
  font-family: 'Timmana', sans-serif;
  font-size: 170%;

}
/* BOXING Ring*/
#boxingRing {
  border-style: ridge;
  height: 100%;
}

.ava {
  background-color: green;
}

.res {
  background-color: red;
}

.sel {
  background-color: #1981e0;
}

#info{
  display: none;
}
