/*
GOOGLE Fonts reference(remove what isn't used)
font-family: 'Shrikhand', cursive;  HEADER
font-family: 'Cabin', sans-serif;  body
font-family: 'Timmana', sans-serif;  body
font-family: 'Bungee Shade', cursive; HEADER
*/
/*
html {
background: url(images/st-of-rage.png) no-repeat center center fixed;
-webkit-background-size: cover;
-moz-background-size: cover;
-o-background-size: cover;
background-size: cover;
}*/

body {
    background-color: transparent;
    /*height: 200px;*/
    background: #000000; /* For browsers that do not support gradients */
    background: -webkit-linear-gradient(#000000, #001f3a); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#000000, #001f3a); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#000000, #001f3a); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#000000, #001f3a); /* Standard syntax (must be last) */
}



#jumboImg{
  background-image: url(images/st-of-rage-copy.png);
  background-size: cover;
}

#arenaName{
  color: #da4300;

}


h1 {
  font-family: 'Bungee Shade', cursive;
  letter-spacing: 2px;
  word-spacing: 7px;
  text-align: center;
  font-size: 200%;
  line-height: 120%;
}
/* available seats styling 'key'!*/
ul {
  list-style-type: none;
  padding: 0px;

}

li{
  display: inline-block;
  font-family: 'Timmana', sans-serif;
  font-size: 150%;
  color: #cccccc;
  /*padding: 12px 20px;*/
}


/*glyphicon available Dot styling*/
.glyphicon.glyphicon-one-fine-dot {
    margin-bottom: -.25em;
    overflow: hidden;
}
.glyphicon.glyphicon-one-fine-dot:before {
    content:"\25cf";
    font-size: 2em;

}

.green {
  color: #117808;
}

.red {
  color: #8a1c00;
}

.blue {
  color: #297ba3;
}

#clickedSeats{
  min-height: 40px;
}

p{
  font-family: 'Timmana', sans-serif;
  font-size: 170%;
 color: #cccccc;
}
/* BOXING Ring*/
#boxingRing {
  border-style: ridge;
  height: 100px;
  border-radius: 50px;

}

.ava {
  background-color: #117808;
}

.res {
  background-color: #8a1c00;
}

.sel {
  background-color: #297ba3;
}


.formTitle {
  font-family: 'Timmana', sans-serif;
}

.modal-body {
  background-color: #cccccc;
}


#footText {
  font-size: 100%;
  margin: 20px 0px;
  color: #da4300;

}
